:root {
  --main-darkest: rgb(34, 40, 49);
  --main-darker: rgb(39, 52, 72);
  --main-dark: rgb(45, 64, 89);
  --accent-dark: #555555;
  --accent-bright: rgba(225, 67, 19, 0.872);
  --accent-lighter: rgb(238, 238, 238);
  --accent-light: rgb(206, 203, 203);
}

body {
  margin: 0%;
  min-height: 100vh;
  background: linear-gradient(to right, var(--main-darkest), var(--main-dark));
  color: var(--accent-light);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

.header,
.footer {
  text-align: center; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  margin-top: auto;
  padding-bottom: .5rem;
}

p {
  margin: .5rem 0;
}

a {
  text-decoration: none;
  color: var(--accent-light);
  transition: all .1s ease-out;
}

a:hover,
a:focus {
  color: var(--accent-bright) 
}

footer img {
  margin-left: .25rem;
  
}

.container-main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  grid-gap: .75rem;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  padding: 1rem .5rem;
  width: 90%;
  max-width: 450px;
  min-width: 280px;
  border: 2px solid var(--main-darker);
  border-radius: 1rem;
  background-color: var(--main-darker);
  -webkit-box-shadow: 3px 2px 15px 2px var(--main-darkest); 
  box-shadow: 3px 2px 15px 2px var(--main-darkest);
}

input {
  padding: .375rem .75rem;
  line-height: 1.6;
  background: var(--accent-light);
  border: 1px solid var(--accent-light);
  border-radius: .5rem;
  outline: none;
  transition: all .1s ease-in;
  color: var(--main-darkest);
  align-self: center;
  min-width: 220px;
}

input:focus {
  background: var(--accent-lighter);
  border-color: var(--accent-lighter);
  box-shadow: inset 0 0 4px rgba(0, 0, 0, .075), 0 0 8px var(--accent-bright);
  transition: all .1s ease-out
}

button {
  padding: .25rem 2rem;
  width: max-content;
  height: max-content;
  transition: all 0.2s ease;
  text-decoration: none;
  font-weight: 600;
  background: var(--accent-bright);
  border: .2rem solid var(--accent-bright);
  border-radius: .5rem;
  cursor: pointer;
  align-self: center;
}

button:focus,
button:hover {
  color: var(--accent-bright);
  background: var(--accent-lighter);
  border: .2rem solid var(--accent-lighter);
}

.container-btn {
  display: inline-flex;
  gap: .5rem;
  justify-content: center;
}

.container-email {
  overflow-wrap: break-word;
  text-align: center;
}

#email-title-final {
  font-weight: 800;
  font-size: 1.25rem;
  border: 2px solid var(--accent-bright);
  padding: .5rem;
}

.container-display {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-content: center;
  text-align: center;
} 


/* STYLES FOR COPY BTN POP UP */

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: var(--accent-dark);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color:var(--accent-dark) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
